*{
    margin: 0;
    padding: 0;
    color: rgb(20, 116, 107);
}

.uuu{
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

/*Estilização da seção1*/

.b-n{
    display: flex;
    justify-content: center;
}

.bi-arrow-left{
    display: flex;
    color: rgb(20, 116, 107);
    justify-content: flex-start;
    margin-right: 3rem;
    margin-bottom: 3rem;
    font-size: 40px;
    align-items: center;
}

.bi-arrow-left:hover, .bi-cart-x-fill:hover{
    background-color: rgb(122, 255, 155);
    border-radius: 2rem;
    transform: scale(1.1);
    box-shadow: 0 5px 15px black;
}

.t{
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    margin-bottom: 3rem; 
    font-size: 50px;
    align-items: center;
}

.bi-cart-x-fill{
    display: flex;
    color: rgb(20, 116, 107);
    justify-content: flex-end;
    margin-right: 3rem;
    margin-bottom: 3rem; 
    font-size: 50px;
}

.a{
    text-decoration: none;
    
}

/*Estilização da seção 2 */

.p-a{
        display: block;
        justify-content: center;
}


.n-p{
    display: block;
    justify-content: center;
    font-size: 20px;
}

.ac{
    display: inline-flex;
    justify-content: center;
}

.bi-dash-square{
    display: flex;
    color: rgb(20, 116, 107);
    justify-content: flex-start;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    align-items: center;
}

.n-l{
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    margin-bottom: 1rem; 
    font-size: 25px;
    align-items: center;
}

.bi-plus-square{
    display: flex;
    color: rgb(20, 116, 107);
    justify-content: flex-end;
    margin-right: 1rem;
    margin-bottom: 1rem; 
    font-size: 20px;
    align-items: center;
}

.lv-p{
    display: inline-flex;
    justify-content: center;
}

.v-p {
    display: flex;
    color: rgb(20, 116, 107);
    justify-content: flex-start;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    align-items: center;

}
 .bi-trash3-fill {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-bottom: 1rem; 
    font-size: 20px;
    align-items: center;
}

.bi-trash3-fill:hover, .bi-plus-square:hover, .bi-dash-square:hover{
    background-color: rgb(27, 231, 180);
    border: 1rem;
    transform: scale(1.1);
    box-shadow: 0 2px 2px black;
}

/*Estilização seção*/

.ds-c{
    display: inline-block;
    justify-content: center;
}


/*Estilização seção*/
.despd{
    display: block;
    justify-content: center;
    font-size: 20px;
    align-items: center;
}

button{
    border: 1px solid rgb(27, 27, 27);
    border-radius: 2rem;
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px wheat;
}

button:hover{
    background-color: rgb(228, 248, 246);
    border: 2px solid rgba(33, 34, 34, 0.582);
    transform: scale(1.1);
    box-shadow: 0 5px 15px wheat;
    font-family: color black
    
}